<html>
    <head>
        <link href="../public/bootstrap/css/bootstrap.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="card" style="width: 28rem; border: 1px solid ghostwhite; margin: 0 auto;text-align: center;float: none;margin-bottom: 10px;">
                    <div class="card-body">
                        <h1>Login</h1>
                        <% if(errors) { %>
                        <div class="alert alert-success">
                            <% if(typeof errors['0'] != 'undefined') { %> <% errors['0']['msg'] } %>
                        </div>
                        <% } %>
                        <form action="/login" method="post">

                            <div class="form-group input-group row">
                                <label class="form-check-label col-4">Username</label>
                                <input type="text" name="username" class="form-control" value=""/>
                            </div>
                            <div class="form-group input-group">
                                <label class="form-check-label">Password</label>
                                <input type="password" name="password" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <script src="../public/bootstrap/js/bootstrap.js"></script>
    </body>
</html>